Mirek Informatyka Sem 3

In [1]:
# Zad 1 Rozgrzewka z Jupyter
print("Hello, Data Science")

Hello, Data Science

In [1]:
# Zad 2 Typy danych i zmienne
a = 10
b = 3.5
c = "Python"
d = True

print(f"Zmienna a= {a} ma typ {type(a)}")
print(f"Zmienna b= {b} ma typ {type(b)}")
print(f"Zmienna c= {c} ma typ {type(c)}")
print(f"Zmienna d= {d} ma typ {type(d)}")

print(f"Dodawanie a+b= {a + b}")
print(f"Dzielenie a/b= {a / b}")
print(f"Potegowanie a^b= {pow(a, b)}")

Zmienna a= 10 ma typ <class 'int'>
Zmienna b= 3.5 ma typ <class 'float'>
Zmienna c= Python ma typ <class 'str'>
Zmienna d= True ma typ <class 'bool'>
Dodawanie a+b= 13.5
Dzielenie a/b= 2.857142857142857
Potegowanie a^b= 3162.2776601683795

In [2]:
# Zad 3 Instrukcje warunkowe i petle
temperature = 17
if temperature > 25:
    print("Cieplo")
elif temperature > 15:
    print("W sam raz")
else:
    print("Chlodno")

liczba = 23
if (liczba % 2 == 1):
    print("Nieparzysta")
else:
    print("Parzysta")

for liczba in range(1, 11):
    print(liczba)

i = 1
while i < 6:
    print(f"Iteracja {i}")
    i += 1

W sam raz
Nieparzysta
1
2
3
4
5
6
7
8
9
10
Iteracja 1
Iteracja 2
Iteracja 3
Iteracja 4
Iteracja 5

In [3]:
# Zad 4 Listy, slowniki i zestawy
# Lista
fruits = ["jablko", "banan", "malina"]
# Slownik
person = {"name": "Ala", "age": 22}
# Zestaw, Set
numbers = {1, 2, 3, 4}

fruits.append("pomarancza")
print(fruits)
print(fruits[1])

values = [4, 8, 15, 16, 23, 42]
print(f"Srednia z {values} to {sum(values) / len(values)}")

for key, value in person.items():
    print(f"Klucz: {key}, wartosc: {value}")

['jablko', 'banan', 'malina', 'pomarancza']
banan
Srednia z [4, 8, 15, 16, 23, 42] to 18.0
Klucz: name, wartosc: Ala
Klucz: age, wartosc: 22

In [6]:
# Zad 5 Podstawy NumPy i Pandas
import numpy as np
import pandas as pd

a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

print(a + b)
print(np.dot(a, b))

[5 7 9]
32

In [16]:
# Zad 6 Analiza Danych
data = {
    "Imię": ["Ala", "Bartek", "Celina"],
    "Wiek": [22, 25, 20],
    "Ocena": [4.5, 3.8, 5.0]
}

df = pd.DataFrame(data)
display(df)
print(df.describe())

data.update({"Semestr studiów": [3, 4, 2]})
df = pd.DataFrame(data)
display(df)

print(f"Srednia wszystkich ocen: {df['Ocena'].mean()}")

d_ocena4 = df[df["Ocena"] > 4]
display(d_ocena4)

     Imię  Wiek  Ocena
0     Ala    22    4.5
1  Bartek    25    3.8
2  Celina    20    5.0

            Wiek     Ocena
count   3.000000  3.000000
mean   22.333333  4.433333
std     2.516611  0.602771
min    20.000000  3.800000
25%    21.000000  4.150000
50%    22.000000  4.500000
75%    23.500000  4.750000
max    25.000000  5.000000

     Imię  Wiek  Ocena  Semestr studiów
0     Ala    22    4.5                3
1  Bartek    25    3.8                4
2  Celina    20    5.0                2

Srednia wszystkich ocen: 4.433333333333334

     Imię  Wiek  Ocena  Semestr studiów
0     Ala    22    4.5                3
2  Celina    20    5.0                2

In [18]:
# Zad 7 Ladowanie i przeglad danych
#import pandas as pd 

df = pd.read_csv('https://raw.githubusercontent.com/softhints/Pandas-Exercises-Projects/main/data/food_recipes.csv')
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8009 entries, 0 to 8008
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   recipe_title   8009 non-null   object
 1   url            8009 non-null   object
 2   record_health  8009 non-null   object
 3   vote_count     8009 non-null   int64
 4   rating         8009 non-null   float64
 5   description    7994 non-null   object
 6   cuisine        7943 non-null   object
 7   course         7854 non-null   object
 8   diet           7858 non-null   object
 9   prep_time      7979 non-null   object
 10  cook_time      7979 non-null   object
 11  ingredients    7997 non-null   object
 12  instructions   8009 non-null   object
 13  author         8009 non-null   object
 14  tags           7930 non-null   object
 15  category       8009 non-null   object
dtypes: float64(1), int64(1), object(14)
memory usage: 1001.2+ KB

,recipe_title,url,record_health,vote_count,rating,description,cuisine,course,diet,prep_time,cook_time,ingredients,instructions,author,tags,category
count,8009,8009,8009,8009.000000,8009.000000,7994,7943,7854,7858,7979,7979,7997,8009,8009,7930,8009
unique,8009,8009,1,NaN,NaN,7989,77,13,10,89,72,7953,8009,328,7029,99
top,Roasted Peppers And Mushroom Tortilla Pizza Re...,https://www.archanaskitchen.com/roasted-pepper...,good,NaN,NaN,"If you like this recipe, try more recipes like",Indian,Lunch,Vegetarian,10 M,30 M,Lemons|Sugar|Salt|Red Chilli powder,To begin making the Roasted Peppers And Mushro...,Archana's Kitchen,Party Food Recipes,Sabzi Recipes
freq,1,1,8009,NaN,NaN,6,1336,1925,5478,3137,1955,3,1,2803,21,1051
mean,NaN,NaN,NaN,2268.004495,4.888621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,3683.156570,0.077467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,15.000000,3.175705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,494.000000,4.865031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,1050.000000,4.900553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,2487.000000,4.930000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,80628.000000,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.isna().sum()

recipe_title       0
url                0
record_health      0
vote_count         0
rating             0
description       15
cuisine           66
course           155
diet             151
prep_time         30
cook_time         30
ingredients       12
instructions       0
author             0
tags              79
category           0
dtype: int64

In [24]:
df_clean = df.drop_duplicates()
display(df_clean)

,recipe_title,url,record_health,vote_count,rating,description,cuisine,course,diet,prep_time,cook_time,ingredients,instructions,author,tags,category
0,Roasted Peppers And Mushroom Tortilla Pizza Re...,https://www.archanaskitchen.com/roasted-pepper...,good,434,4.958525,is a quicker version pizza to satisfy your cr...,Mexican,Dinner,Vegetarian,15 M,15 M,Tortillas|Extra Virgin Olive Oil|Garlic|Mozzar...,To begin making the Roasted Peppers And Mushro...,Divya Shivaraman,Party Food Recipes|Tea Party Recipes|Mushroom ...,Pizza Recipes
1,Thakkali Gotsu Recipe | Thakkali Curry | Spicy...,https://www.archanaskitchen.com/tomato-gotsu-r...,good,3423,4.932223,also known as the is a quick and easy to ma...,South Indian Recipes,Lunch,Vegetarian,10 M,20 M,Sesame (Gingelly) Oil|Mustard seeds (Rai/ Kadu...,To begin making Tomato Gotsu Recipe/ Thakkali ...,Archana Doshi,Vegetarian Recipes|Tomato Recipes|South Indian...,Indian Curry Recipes
2,Spicy Grilled Pineapple Salsa Recipe,https://www.archanaskitchen.com/spicy-grilled-...,good,2091,4.945959,Spicy Grilled Pineapple Salsa is a simple reci...,Mexican,Side Dish,Vegetarian,10 M,0 M,Extra Virgin Olive Oil|Pineapple|White onion|R...,To begin making the Spicy Grilled Pineapple Sa...,Archana's Kitchen,Party Starter & Appetizer Recipes|Pineapple Re...,Mexican Recipes
3,Karwar Style Dali Thoy Recipe - Toor dal Curry,https://www.archanaskitchen.com/dali-thoy-reci...,good,990,4.888889,The is a quintessential of Konkani dish whic...,Coastal Karnataka,Side Dish,High Protein Vegetarian,5 M,20 M,Arhar dal (Split Toor Dal)|Turmeric powder (Ha...,To prepare Karwar Style Dali Thoy Recipe (Toor...,Jyothi Rajesh,Side Dish Recipes|South Indian Recipes|Indian ...,Indian Curry Recipes
4,Rajma Kofta In Milk And Poppy Seed Gravy Recipe,https://www.archanaskitchen.com/rajma-kofta-in...,good,345,4.828986,Koftas are traditional Indian recipes mostly w...,North Indian Recipes,Side Dish,High Protein Vegetarian,20 M,30 M,Rajma (Large Kidney Beans)|Cashew nuts|Sultana...,To begin making Rajma Kofta In Milk And Poppy ...,RUBY PATHAK,Side Dish Recipes|Indian Lunch Recipes|Office ...,Kofta Recipes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8004,Zucchini and Carrot Pasta Recipe,https://www.archanaskitchen.com/zucchini-and-c...,good,738,4.934959,is a healthy recipe which can be served over ...,Italian Recipes,Dinner,Vegetarian,10 M,30 M,Spirali pasta|Onions|Tomatoes|Green zucchini|C...,To begin with Zucchini And Carrot Pasta Recipe...,Aarti Sharma,Vegetarian Recipes|Carrot Recipes|Zucchini Rec...,Pasta Recipes
8005,Hyderabadi Khatti Dal Recipe (Hyderabadi Tangy...,https://www.archanaskitchen.com/hyderabadi-kha...,good,5173,4.903151,Hyderabadi Khatti Dal is a delicious tangy dal...,Hyderabadi,Lunch,High Protein Vegetarian,20 M,40 M,Arhar dal (Split Toor Dal)|Tomato|Turmeric pow...,To begin making the Hyderabadi Khatti Dal Reci...,Farrukh Aziz Ansari,Gluten Free Recipes|Indian Diabetic Recipes,Indian Curry Recipes
8006,Karwar Style Muga Ambat Recipe (Moong Sprouts ...,https://www.archanaskitchen.com/karwar-style-m...,good,1202,4.946755,is a curry recipe made from 'Muga' - which re...,Karnataka,Side Dish,High Protein Vegetarian,10 M,15 M,Turmeric powder (Haldi)|Sugar|Salt|Fresh cocon...,To prepare Karwar Style Muga Ambat Recipe (Moo...,Archana's Kitchen,High Protein Vegetarian Diet Recipes|South Ind...,Indian Curry Recipes
8007,"Beetroot, Amla And Pudina Juice Recipe | Mint ...",https://www.archanaskitchen.com/beetroot-amla-...,good,1305,4.925670,is a healthy juice recipe which acts as a gre...,Indian,Snack,Vegetarian,10 M,0 M,Beetroot|Amla (Nellikai/ Gooseberry)|Mint Leav...,"To begin making the Beetroot, Amla And Pudina...",Archana's Kitchen,Healthy Recipes|Beetroot Recipes|Pudina Mint R...,Indian Drink Recipes
8008,Chettinad Cauliflower Pepper Fry Recipe - Chet...,https://www.archanaskitchen.com/chettinad-caul...,good,2167,4.815413,Chettinad Poo Kosu Poriyal also known as is ...,Tamil Nadu,Lunch,Vegetarian,15 M,20 M,Cauliflower (gobi)|Pearl onions (Sambar Onions...,To begin making the Chettinad Cauliflower Pepp...,Archana Doshi,Cauliflower Recipes (Phool Gobi),Poriyal Recipes (South Indian Sabzi)